<ion-content class="ion-padding">
  <div class="container">
    <div class="logo-container">
      <img src="assets/ubicash.png" alt="Logo" class="logo" />
    </div>
    <form (submit)="login()" class="form-container">
      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="btn-register">Ingresar</ion-button>
      
      <ion-text color="medium" class="text-center">
        <p>¿No tienes cuenta? <a routerLink="/register" class="login-link">Regístrate aquí</a></p>
      </ion-text>
    </form>
  </div>
</ion-content>
