<ion-content class="ion-padding">
  <div class="container">
    <div class="logo-container">
      <h2 class="title">Elimina tu Cuenta</h2>
    </div>
    <form (submit)="confirmarEliminacion()" class="form-container">
      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="btn-register">Ingresar</ion-button>
    </form>
  </div>
</ion-content>
